<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to My Node.js Server</h1>
    <h1>I love Coding</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, modi esse. Repellat vero error quas! Molestias quod deleniti aperiam asperiores, nemo provident qui reprehenderit sint unde? Accusamus pariatur odio autem facilis, similique nesciunt repellat eaque ad illo vero ratione alias. Illum nostrum saepe sit? Praesentium reprehenderit dolor voluptatem dolores nihil?</p>
</body>
</html>
